nav {
  background-color: $primary;
  color: white;

  .navbar {
    @include flex(space-between, center);
    .logo {
      width: 100%;
      max-width: 100px;
    }

    .routes > * {
      @extend .c-pointer;
      margin: 0 10px;
    }
  }
}
