nav {
  background-color: $primary;
  color: white;

  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .logo {
      width: 100%;
      max-width: 100px;
    }

    .routes > * {
      margin: 0 10px;
    }
  }
}
